.border-false {
  border: 2px solid var(--clr-border-without-letter);
}

.border-true {
  border: 2px solid var(--clr-border-with-letter);
  animation: bounce var(--bounce-delay) forwards;
}

.green {
  color: var(--clr-text-colorbackground);
  background: var(--clr-tile-green);
  border: 2px solid var(--clr-tile-green);
  animation: flip-tile var(--flip-time-delay) ease-in-out;
}

@keyframes flip-tile {
  from {
    transform: rotateX(0);
    color: black;
    border: 2px solid var(--clr-border-with-letter);
    background-color: var(--clr-tile-noletter);
  }
  45% {
    transform: rotateX(90deg);
    color: black;
    border: 2px solid var(--clr-border-with-letter);
    background-color: var(--clr-tile-noletter);
  }
  55% {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0);
  }
}

@keyframes bounce {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes shake {
  from {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5%);
  }
  40% {
    transform: translateX(10%);
  }
  60% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(5%);
  }
  to {
    transform: translateX(0);
  }
}

.yellow {
  color: var(--clr-text-colorbackground);
  background: var(--clr-tile-yellow);
  border: 2px solid var(--clr-tile-yellow);
  animation: flip-tile var(--flip-time-delay) ease-in-out;
}

.normal {
  color: var(--clr-text-colorbackground);
  background: var(--clr-tile-gray);
  border: 2px solid var(--clr-tile-gray);
  animation: flip-tile var(--flip-time-delay) ease-in-out;
}

.word-cell > div {
  height: 3.5rem;
  width: 3.5rem;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
}
