:root {
  --flip-time-delay: 0.5s;
  --bounce-delay: 0.1s;
  --clr-border-with-letter: #7d7d7d;
  --clr-border-without-letter: #d3d6da;
  --clr-tile-green: #6aaa64;
  --clr-tile-yellow: #c9b458;
  --clr-tile-gray: #4b4b4b;
  --clr-tile-noletter: white;
  --clr-text-nobackground: black;
  --clr-text-colorbackground: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
