@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --letter-animation-delay: 0.5s;
  --bounce-delay: 0.1s;
  --clr-white: white;
  --clr-black: black;
  --clr-border-with-letter: #D4D4D4;
  --clr-border-without-letter: #d3d6da;
  --clr-tile-green: #6aaa64;
  --clr-tile-yellow: #c9b458;
  --clr-tile-gray: #4b4b4b;
  --clr-tile-noletter: var(--clr-white);
  --clr-text-nobackground: rgb(111, 88, 88);
  --clr-text-colorbackground: var(--clr-white);
  --clr-btn-disabled: #3c6339;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
